
/* Clear formatting*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Remove formatting from links*/
  
  a {
    color: inherit;
    text-decoration: none;
  }
  a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
  /* Set a max width to the content*/
  .container {
    display: flex;
    flex-direction: column;  
  }
  
  .parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #28C785;
    /*   */
  }
  .logo {
    padding: 5px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .menu li {
    padding: 20px;
    margin-left: 20px;
    background-color: #28C785;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

.home {
    display: flex;
    background-image: url('images/surf.jpg');
    height: 900px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.products {
    display: flex;
    background-image: url('images/products.jpg');
    height: 900px;
}

.staff {
    background-image: url('images/staff.jpg');
    height: 900px;
}

.contacts {

}