* {
    margin: 0;
    padding: 0;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28C785;
    position: fixed;
    width: 100%;
  }

  .nav {
      color: white;
  }

  a {
      color: white;
      text-decoration: none;
      padding: 0 20px;
  }

  img {
      width: 200px;
      height: auto;
      border-radius: 5px;
  }

  .home {
      background-image: url("images/surf.jpg");
      background-size: cover;
      height: 760px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .statement {
     color: white;
     font-size: 32px;
     text-align: center;
  }

  .products{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 40px;
      background-image: url("images/products.jpg");
      background-size: cover;
      padding: 200px 0;
  }

  .prod {
      margin: 50px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 20px;
      background-color: white;
  }

  .staffMem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    background-image: url("images/staff.jpg");
    background-size: cover;
    padding: 200px 0;
}

.staff {
    margin: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    background-color: white;
}